# Youtube transcripta api
youtube-transcript-api

transformers
torch

# Langchain RAG
langchain-groq
langchain-openai
langchain-community
langchain-core
langchain-huggingface

faiss-cpu
tiktoken
python-dotenv
flask
flask-cors
hf-xet
